<div (click)="clickHandler()">
  <ng-content is="h3"></ng-content>
  <ng-content is="p"></ng-content>
  <!-- props: <span style="text-decoration: underline">{{ dataProps }}</span> -->
  <ng-content is="button"></ng-content>
  <hr />
</div>
