<h1>{{ dataProps?.title }}</h1>
<ul>
  <li *ngFor="let user of users">
    <app-card>
      <h3>{{ user.name }}</h3>
      <button (click)="removeUser(user.name)">remove</button>
    </app-card>
  </li>
</ul>

<input type="text" #inputUserName placeholder="name" />
<button (click)="addUser(inputUserName.value); inputUserName.value = ''">
  add
</button>
