<app-header [dataProps]="dataProps"></app-header>
<button
  type="button"
  (click)="toggleShowText()"
  style="display: block; width: 100%"
>
  show Text
</button>
<ul *ngIf="showText" style="list-style: none">
  <li *ngFor="let item of arrNumbers">
    <app-card
      *appDelay
      [class]="dynamicColor"
      [dataProps]="item"
      (cardClicked)="cardClickedHandler(item)"
    >
      <h3 appColory #colory="colory">{{ item.toUpperCase() }}</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <button (click)="colory.setRandomColor()">Change color</button>
    </app-card>
  </li>
</ul>
<input
  *ngIf="0"
  type="text"
  (input)="changeColor($event.target.value)"
  (keyup.enter)="changeColor($event.target.value)"
  placeholder="color"
/>

<!-- Работа с элементами по ссылке -->
<input
  (keyup.enter)="changeColor($event.target.value)"
  type="text"
  #inputColorElement
/>
<button (click)="changeColor(inputColorElement.value)">boom!</button>
